.login_container{
  width: 100%;
  height: 100%;
  background-color: rgb(42, 194, 130);
}
.login_head{
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  background-color: rgb(78, 206, 163);
}
.login_form{
  margin: 20px 10px;
}